.element {
  margin: 0 auto;
  padding: 10px;
  background-color: #2b2e31;
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__title {
    margin: 0 auto;
  }

  &__description {
    margin: 0 auto;
  }
}