.input {
  width: 100%;
  position: relative;
}

.inputMain {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  
  &::placeholder {
    color: #8b949e;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.incorrect {
  border: 1px solid red;
}

.incorrect_text {
  color: red;
  position: absolute;
  font-size: 10px;
  line-height: 15px;
  margin: 2px 0 0 0;
  text-align: left;
}

.disabled {
  opacity: 0.5;
}

.required {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: flex-end;
}

.passwordShow {
  opacity: 0.5;
}

.requiredIncorrect {
  color: red;
}