.board {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  position: relative;

  &__button {
    position: absolute;
    right: 0;
    bottom: 40px;
    border: none;
    background: transparent;
    padding: 16px;
    color: #8b949e;
  }
}