.header {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 60px;
  padding: 20px 0; 
  z-index: 999;
  width: 100%;
  border-bottom: .5px #8b949e solid;
  box-sizing: border-box;
  background: transparent;

  &__title {
    margin: 0 auto;
    color: #8b949e;
  }

  &__button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border: none;
    background: transparent;
  }

  &__mainButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border: none;
    background: transparent;
    font-size: 20px;
  }

  &__link {
    text-decoration: none;
    color: #8b949e;
  }
}